<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039648906853-u89kdge1dln1pu8l7gir8tfc7n7gglks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039648906853-u89kdge1dln1pu8l7gir8tfc7n7gglks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039648906853-1qih9st77iue2sut0df3mo9k6fqdu71b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJsXw0mIXa3f8mLcuKs95ZeWe2PrloL3I</string>
	<key>GCM_SENDER_ID</key>
	<string>1039648906853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.react.native.CuppaNew</string>
	<key>PROJECT_ID</key>
	<string>cuppa-dc705</string>
	<key>STORAGE_BUCKET</key>
	<string>cuppa-dc705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039648906853:ios:98f75fc3229f98cf6a308c</string>
</dict>
</plist>